@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* ||RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body{
    scroll-behavior: smooth;
    overflow-x: hidden;
}


.showcase{
    min-height: 35vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ) , url(../img/blog-showcase.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.showcase-title{
    color: #fff;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 400;
}

.showcase .subtitle{
    padding: 20px;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 400;
}

/* || NAVIGATION */

.main-nav ul{
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.main-nav ul li{
    list-style: none;
    padding: 20px 30px;
}

.main-nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 600;

    transition: all 0.5s ease-in-out;
}

.main-nav ul li a:hover{
    color: orangered;
}

.main-nav ul li a:active,
.main-nav ul li a:focus {
    color: orangered;
}


/* || FOOTER */

/* .footer{
    bottom: 0;
    width: 100px;
    background-color: #000;
} */


/* || MEDIA QUERIES */

/* MOBILE */
@media (max-width: 678px) {
    .main-nav ul li{
        display: none;
    }

    .showcase-title{
        color: #fff;
        font-size: 2.2rem;
        text-align: center;
        letter-spacing: 2px;
        font-weight: 400;
    }
    
    .showcase .subtitle{
        padding: 20px;
        color: #fff;
        font-size: 1.3rem;
        text-align: center;
        letter-spacing: 1px;
        font-weight: 400;
    }
}

/* Extra Small Devices */
@media (min-width: 678px) and (max-width: 767px) {
    .main-nav ul li{
        padding: 20px 11px;
    }

    .main-nav ul li a{
        color: #fff;
        font-size: 1.1rem;
        letter-spacing: normal;
        font-weight: 300;
    }

    .showcase-title{
        color: #fff;
        font-size: 2.5rem;
        text-align: center;
        letter-spacing: 2px;
        font-weight: 400;
    }
    
    .showcase .subtitle{
        padding: 20px;
        color: #fff;
        font-size: 1.4rem;
        text-align: center;
        letter-spacing: 1px;
        font-weight: 400;
    }
}


/* Small Tablets */
@media (min-width: 768px) and (max-width: 991px) {
    .showcase-title{
        color: #fff;
        font-size: 2.5rem;
        text-align: center;
        letter-spacing: 2px;
        font-weight: 400;
    }
    
    .showcase .subtitle{
        padding: 20px;
        color: #fff;
        font-size: 1.4rem;
        text-align: center;
        letter-spacing: 1px;
        font-weight: 400;
    }

    .main-nav ul li{
        padding: 20px;
    }

    .main-nav ul li a{
        color: #fff;
        font-size: 1.1rem;
        letter-spacing: normal;
        font-weight: 300;
    }
    
}


/* Large Tablets/Laptops */
@media (min-width: 992px) and (max-width: 1199px) {
    .main-nav ul li{
        padding: 20px 30px;
    }

    .main-nav ul li a{
        color: #fff;
        font-size: 1.1rem;
        letter-spacing: normal;
        font-weight: 500;
    }
    
}


/* Desktops */
@media (min-width: 1200px) and (max-width: 1919px) {
    .main-nav ul li{
        padding: 20px 30px;
    }

    .main-nav ul li a{
        color: #fff;
        font-size: 1.2rem;
        letter-spacing: 1px;
        font-weight: 500;
    }
    
}

/* Extra Large Screens */
@media (min-width: 1920px) {
    .main-nav ul li{
        padding: 20px 40px;
    }

    .main-nav ul li a{
        color: #fff;
        font-size: 1.2rem;
        letter-spacing: normal;
        font-weight: 600;
    }
    
}



