@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* ||RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.showcase{
    min-height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ) , url(../img/Screenshot\ \(495\).png);
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: relative;
}

.showcase-title{
    color: #fff;
    font-size: 3rem;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 400;
}

.showcase .subtitle{
    padding: 20px;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 400;
}

/* || NAVIGATION */

.main-nav{
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
}

.main-nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.main-nav ul li{
    list-style: none;
    padding: 20px 40px;
}

.main-nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 600;

    transition: all 0.5s ease-in-out;
}

.main-nav ul li a:hover{
    color: orangered;
}


/* || MEDIA QUERIES */

/* MOBILE */
@media (max-width: 678px) {
    .main-nav ul li{
        display: none;
    }
}

/* Extra Small Devices */
@media (min-width: 678px) and (max-width: 767px) {
    .main-nav ul li{
        padding: 20px 11px;
    }

    .main-nav ul li a{
        color: #fff;
        font-size: 1.1rem;
        letter-spacing: normal;
        font-weight: 300;
    }
}


/* Small Tablets */
@media (min-width: 768px) and (max-width: 991px) {
    .main-nav ul li{
        padding: 20px;
    }

    .main-nav ul li a{
        color: #fff;
        font-size: 1.1rem;
        letter-spacing: normal;
        font-weight: 300;
    }
    
}


/* Large Tablets/Laptops */
@media (min-width: 992px) and (max-width: 1199px) {
    .main-nav ul li{
        padding: 20px 30px;
    }

    .main-nav ul li a{
        color: #fff;
        font-size: 1.1rem;
        letter-spacing: normal;
        font-weight: 500;
    }
    
}


/* Desktops */
@media (min-width: 1200px) and (max-width: 1919px) {
    .main-nav ul li{
        padding: 20px 40px;
    }

    .main-nav ul li a{
        color: #fff;
        font-size: 1.2rem;
        letter-spacing: 1px;
        font-weight: 500;
    }
    
}

/* Extra Large Screens */
@media (min-width: 1920px) {
    .main-nav ul li{
        padding: 20px 40px;
    }

    .main-nav ul li a{
        color: #fff;
        font-size: 1.2rem;
        letter-spacing: normal;
        font-weight: 600;
    }
    
}



