/*------------------ Breadcrumb styling --------------------*/
.breadcrumbs
{
	background: linear-gradient(rgba(150, 60, 221, 0.1), rgba(17, 17, 69, 0.8)), url('../img/families.jpg');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

.breadcrumb-container
{
	height: 34vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 1.5rem;
}

.breadcrumb-container .hero-heading
{
	font-size: 3rem;
}
/*------------------ Breadcrumb styling --------------------*/



/*------------------ Insurance service card styling ---------------*/
.services
{
	margin-top: 2.6rem;
}

.service-card
{
	box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
	border: none;
	border-radius: 10px;
	margin: 2rem 0;
}

.service-card .service-img
{
	height: 180px;
	width: 100%;
	margin: 0;
	padding: 0;
}

.service-card .card-upperkutus
{	
	background: url("../img/upperkutus.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.service-card .card-b
{	
	background: url("../img/b.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.service-card .card-gardenestate
{	
	background: url("../img/garden estate.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.service-card .card-diasporaa
{	
	background: url("../img/dias.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.service-card .card-penry
{	
	background: url("../img/penry.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.service-card .card-ngomongo
{	
	background: url("../img/ngomongo.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.service-card .card-kibugi
{	
	background: url("../img/kibugi.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.service-card .card-diasporab
{	
	background: url("../img/dias.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.service-card .card-a
{	
	background: url("../img/around school.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.service-card .card-kanjata
{	
	background: url("../img/kanjata.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.service-card .card-elegant
{	
	background: url("../img/elegant.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.service-card .card-ack
{	
	background: url("../img/ack.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.service-card .card-mjini
{	
	background: url("../img/mjini.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.service-card .card-waterfall
{	
	background: url("../img/waterfall.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.service-card .service-details
{
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	gap: 1.1rem;
}
/*------------------ Insurance service card styling ---------------*/


/*------------------ FAQ styling -------------------------------------*/
.faqs
{
	background: linear-gradient(rgba(10, 17, 79, 0.9), rgba(10, 17, 79, 0.9)), url("../img/hero-bg.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

.faq
{
  margin-top: 2rem;
  padding-bottom: 1rem;
  cursor: pointer;
}

.faq .question
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--fourth-color);
  padding: 1rem;
}

.faq .question h3
{
  font-size: 1.1rem;
  font-weight: 600;
}

.faq .answer
{
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}

.faq .answer p
{
  padding-top: 1rem;
  line-height: 1.6;
}

.faq.active .answer
{
  max-height: 300px;
}
/*------------------ FAQ styling -------------------------------------*/




/*---------------------------------------------------------------*/
/*-------------------- Desktop screen styling -------------------*/
/*---------------------------------------------------------------*/
@media screen and (min-width: 789px)
{
	/*----------- Breadcrumb styling ----------*/
	.breadcrumb-container 
	{
		height: 50vh;
	}

	/*----------- Service styling ------------*/
	.service-card
	{
		margin: 0;
	}

	/*----------- FAQ styling --------------*/
	.faq-row
	{
		align-items: flex-start;
	}

	/*------------ Additional service styling ------------*/
	.additional-row
	{
		align-items: flex-start;
	}
}